# Python
__pycache__/
*.py[cod]
.venv/
venv/
dist/
*.egg-info/
.env

# Jarvis
.jarvis-data/
.venv/
models/
*.wav
.cache/
.idea/

# Data
.env
*.locks

# Legacy (optional archive)
/archive
/env
src/
TODO

# macOS
.DS_Store
